@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  
  --matte-black: #050505;
  --slate-grey: #1E1E1E;
  --neon-volt: #C6FF00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-matte-black: var(--matte-black);
  --color-slate-grey: var(--slate-grey);
  --color-neon-volt: var(--neon-volt);
  
  --font-sans: "Inter", "System UI", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
